{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    {% if error%}
<div class="errorbox">
    <p class="error-text">{{error}}</p>
</div>
    {% endif %}

<form action="/change_password" method="post">

<div class="container">
    <input type="password" name="password" placeholder="Current Password"  id="passowrd" class="form-input">
</div>
<div class="container">
    <input type="password" name="new_password" placeholder="New Password"  id="new_passowrd" class="form-input">
</div>
<div class="container">
    <input type="password" name="confirm_password" placeholder="Confirm Password"  id="confirm_passowrd" class="form-input">
</div>
<div class="container">
    <button name="Change" type="submit" class="form-btn">Change</button>
</div>
</form>


{% endblock %}