{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    {% if error%}
<div class="errorbox">
    <p class="error-text">{{error}}</p>
</div>
    {% endif %}

<form action="/" method="post">
<div class="container">
    <input type="text" placeholder="Name" name="name" value="{{name}}" id="name" class="form-input">
</div>
<div class="container">
    <input type="text" name="room-id" placeholder="Room ID" value="{{code}}" id="room" class="form-input">
</div>
<div class="container">
    <button name="join" type="submit" class="form-btn">Join Room</button>
    <button name="create" type="submit" class="form-btn">Create Room</button>
</div>
</form>


{% endblock %}