{% extends 'layout.html' %}

{% block title %}
Room: {{room_id}}
{% endblock %}

{% block main %}
<div class="message-container">
    <div class="message-header">
        <h1>Room Code: {{room_id}}</h1>
    </div>
    <div class="message-body" id="message-body">
    </div>
    <div class="message-fotter">
            <input type="text" name="message" id="message" placeholder="Type Your Message Here" autofocus
                autocomplete="off">
            <button type="button" name="send" onclick="sendMessage()">SEND</button>
    </div>
</div>


<script type="text/javascript">
    var socketio = io();
    var messages = document.getElementById("message-body");

    const createMessage = (name, msg) => {
        var content =
            `
             <p class="message"><b>${name}:</b>${msg}</p>
            `;
        messages.innerHTML += content;
        content = ``;
    }
    const createUserMessage = (name, msg) => {
        var content =
            `
             <p class="user-message"><b>${name}:</b>${msg}</p>
            `;
        messages.innerHTML += content;
        content = ``;
    }


    socketio.on("message", (data) => {
        var username = '{{ name }}'
        if (data.name == username) {
            createUserMessage(data.name, data.message)
        }
        else {
            createMessage(data.name, data.message)
        }
    });


    const sendMessage = () => {
        var message = document.getElementById("message")
        if (message.value == "") return;
        socketio.emit("message", { data: message.value});
        message.value = "";
    }
</script>

{% for msg in messages %}
<script type="text/javascript">
    var username = '{{ name }}'
    if ('{{msg.name}}' == username) {
        createUserMessage('{{msg.name}}', '{{msg.message}}')
    }
    else {
        createMessage('{{msg.name}}', '{{msg.message}}')
    }
</script>
{% endfor %}

{% endblock %}