{% extends 'layout.html' %}

{% block title %}
Room: {{room_id}}
{% endblock %}

{% block main %}
    <div class="message-container">
        <div class="message-header">
            <h1>Room Code: {{room_id}}</h1>
        </div>
        <div class="message-body">
            <p class="message">HELLO</p>
            <p class="user-message">HI!!!!</p>
        </div>
        <div class="message-fotter">
            <form action="/room" method="post">
                <input type="text" name="message" id="message" placeholder="Type Your Message Here" autofocus>
                <button type="button" name="send" onclick="sendMessage()">SEND</button>
            </form>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    var socketio = io(); 

    const sendMessage = () => {
        console.log("sent")
    }
</script>
